//----HEADER----\\

input{
  outline: none;
}

.header {
  background-image: url(../images/DSC04437.png);
  background-size: cover;
  padding-bottom: 286px;
  @media (max-width: 768px) {
    background-position: center;
  }
}

.container {
  width: 1120px;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0 8px;
  }
}

.header__nav {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 194px;
  @media (max-width: 768px) {
    img{
      width: 92px;
      height: auto;
    }
  }
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-number {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
  @media (max-width: 768px) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }
}

.btn {
  width: 206px;
  height: 48px;
  background-color: #ffc15e;
  border-radius: 55px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 4px 20px rgba(207, 164, 97, 0.862);
  @media (max-width: 768px) {
    width: 170px;
    height: 42px;
    font-size: 14px;
    line-height: 17px;
  }
}

.header__text {
  width: 758px;
  background: rgba(255, 193, 94, 0.9);
  position: relative;
  padding: 35px 44px;
  @media  (max-width: 768px) {
    width: auto;
    padding: 20px 16px;
  }
}

.header__text-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @media  (max-width: 768px){
    font-size: 16px;
    line-height: 29px;
  }
}

.header__address {
  position: absolute;
  display: flex;
  align-items: center;
  width: 340px;
  background: #000;
  color: #fff;
  padding: 12px 32px;
  top: 138px;
  box-shadow: 0px 4px 24px rgba(27, 19, 15, 0.7);
  @media  (max-width: 768px){
    width: auto;
    top: unset;
  }
}

.address-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
//-------COMMUNICATIONS-------\\

.communications {
  background: #fff;
  position: relative;
  .comm-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 140px 0 50px;
  }
  .comm-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    .comm-list-item {
      width: 175px;
    }
  }
  @media only screen and (max-width: 768px) {
    .communication-text {
      width: 60%;
      padding: 20px 20px;
      font-size: 11px;
      height: 250px;
      margin: 0px 12px -171px 128px;
      line-height: 18px;
    }
    .comm-title{
      font-size: 20px;
      line-height: 30px;
      padding: 20px 0;
    }
    .comm-list {
      flex-direction: column;
      .comm-list-item {
        width: 100%;
        .item-img {
          width: 60px;
          margin: 10px auto;
        }
        .item-text {
          font-size: 18px;
          line-height: 10px;
          text-align: center;
          margin: 20px 0 30px;
        }
      }
    }
  }
}


.section-form {
  position: relative;
  overflow: hidden;
  .container{
    position: relative;
    z-index: 3;
  }
}

.section-form .rgba {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../images/bgg.jpg);
  background-size: cover;
  position: absolute;
}

//-----SECTION-DESCRIPTION-----\\

.description-section {
  position: relative;
  height: 750px;
  width: 100%;
  @media only screen and (max-width: 768px) {
    height: 900px;
    div {
      .form-title {
        font-size: 32px;
      }
    }
    ul{
      margin: 50px auto;
      width: 90%;
      li{
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 16px;
        .pointer {
          width: 12px;
          height: 12px;
        }
      }
    }
    img{
      width: 400px;
      height: 350px;
    }
  }
  h2 {
    text-align: center;
  }

  ul {
    margin-top: 70px;
    width: 70%;
    margin-bottom: 50px;

    li {
      font-family: Roboto;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 25px;
      color: #1B130F;
      .pointer {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background: #B86020;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  .button-wrapper {
    width: 100%;
    margin-left: 20%;
  }

  img {
    //width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
//-----SECTION-BUILDING----\\

.building{
  &.golden{
    .building__block{
      background: #FFC15E;
      box-shadow: 0 4px 20px rgba(207, 164, 97, 0.862);
      color: #1b130f;
      top: -530px;
      @media  (max-width: 768px){
        top: -428px;
      }
    }
  }
  &__block{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    background-color: #1B130F;
    box-shadow: 0 4px 24px rgba(27, 19, 15, 0.7);
    padding: 64px 62px;
    box-sizing: border-box;
    top: -100px;
    right: 0;
    max-width: 672px;
    z-index: 10;
    @media  (max-width: 768px) {
      padding: 16px 24px;
      max-width: 300px;
    }
    p{
      margin-bottom: 20px;
      @media  (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
  .container{
    position: relative;
  }
}

//-----SECTION-TITLE----\\

.gradient-wrapper{
  background: linear-gradient(180deg, #E1E5FF 0.01%, rgba(238, 238, 238, 0.2) 100%);
}
.section-title{
  padding: 328px 0 222px 0;
  @media (max-width: 768px) {
    padding: 255px 0 125px;
  }
  h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 180%;
    letter-spacing: 0.05em;
    width: 90%;
    position: relative;
    @media  (max-width: 768px) {
      font-size: 18px;
      line-height: 170%;
      letter-spacing: 1;
      width: 100%;
    }
    b{
      font-weight: 900;
      color: #B86020;
    }
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 70%;
      opacity: 0.8;
      background-color: #B86020;
      bottom: -40px;
      left: 0;
    }
  }
}

//-----SECTION-HOME----\\

.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 516px;
  @media  (max-width: 768px){
    margin-bottom: 400px;
  }
  &:before{
    content: '';
    background-image: url(../images/home.png);
    width: 744px;
    height: 841px;
    background-size: contain;
    position: absolute;
    @media (max-width: 768px) {
      width: 45vw;
      height: 70vw;
      background-size: cover;
    }
  }

  &__advantage {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 110px;
    @media   (max-width: 768px){
      margin-bottom: 30px;
      width: 51%;
      float: right;
    }
    p {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 59px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #1B130F;
      opacity: 0.8;
      text-shadow: none;
      @media (max-width: 768px) {
        font-size: 15px;
        line-height: 30px;
      }
    }
  }

  &__title {
    text-shadow: 0 4px 20px rgba(207, 164, 97, 0.862);
    color: #B86020;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 39px;
    }

    span {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 130px;
      line-height: 152px;
      margin-right: 16px;
      @media  (max-width: 768px){
        font-size: 44px;
        line-height: 50px;
      }
    }
  }

  .section-form .container {
    position: relative;
    z-index: 2;
  }
}
.communication-text {
  position: relative;
  width: 672px;
  height: 265px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 64px 62px;
  margin: 0 0 -180px auto;
}
//-----SECTION-VIDEO----\\
.video{
  position: relative;
  margin-bottom: 220px;
  @media (max-width: 768px) {
    margin-bottom: 100px;
  }
  .container{
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 70%;
      opacity: 0.8;
      background-color: #B86020;
      bottom: -40px;
    }
  }
  &:after{
    content: '';
    background-image: url("../images/logo 2.1.png");
    position: absolute;
    width: 206px;
    height: 138px;
    top: -50px;
    right: 87px;
    @media (max-width: 768px) {
      width: 100px;
      height: 80px;
      background-size: contain;
      right: 0;
    }
  }
  &__title {
    background-color: #1B130F;
    box-shadow: 0px 4px 24px rgba(27, 19, 15, 0.7);
    padding: 30px 52px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: -50px;
    @media (max-width: 768px) {
      padding: 13px 20px;
      font-size: 18px;
      line-height: 32px;
    }
  }
  video{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    @media (max-width: 768px){
      max-height: 56vw;
    }
  }
}


//-----SECTION-FORM----\\

.section-form {
  background: linear-gradient(rgba(32, 23, 89, 0.38), rgba(32, 23, 89, 0.38)),
  url(../images/DSC04436.png);
  background-size: cover;
  padding: 19px 0 143px;
  color: #fff;
  text-align: center;
  @media only screen and (max-width: 768px) {
    padding: 0 0 50px;
    .form-title {
      font-size: 20px;
    }
    .form-subtitle {
      margin: 20px auto;
      font-size: 14px;
      width: 100%;
      padding: 10px 15px;
    }
    .form-input {
      width: 90%;
      padding: 10px 21px;
      font-size: 14px;
      margin: 4% auto;
    }
  }
}

.form-logo {
  margin-bottom: 156px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.form-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  width: 662px;
  margin: 40px auto;
}

.form-input {
  width: 300px;
  border: none;
  padding: 15px 30px;
  border-radius: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-input:first-child {
  margin-right: 60px;
}

.form-btn {
  width: 164px;
  margin: 52px auto 0;
}

//------GOOGLE-NAV-------\\

.iframe {
  width: 100% !important;
  display: block;
}

//------FOOTER------\\

.footer {
  background: rgba(183, 183, 183, 0.2);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
  .footer__address {
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    .header__logo {
      width: 100px;
    }
    .footer__address {
      font-size: 12px;
      padding: 10px 15px;
      img{
        width: 20px;
      }
      width: 100%;
    }
    .header__phone{
      .phone-number{
        font-size: 16px;
      }
    }
  }
}


.gallery{
  overflow: hidden;
  position: relative;
}

.gallery::before{
  content: "";
  display: block;
  width: calc(15% + 50px);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(90deg,rgba(255,255,255,.81) 61.66%,rgba(255,255,255,.21) 100%);
  @media only screen and (max-width: 768px) {
    width: 20px;
  }
}

.gallery::after{
  content: "";
  display: block;
  width: calc(15% + 50px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(90deg,rgba(255,255,255,.21) 61.66%,rgba(255,255,255,.81) 100%);
  @media only screen and (max-width: 768px) {
    width: 20px;
  }
}


.gallery .container{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 99;
}

.gallery__nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gallery__nav img{
  cursor: pointer;
  user-select: none;
  outline: none;
  @media only screen and (max-width: 768px) {
    width: 50px;
    object-fit: contain;
  }
}

.gallery__nav .left{
  transform: rotate(-180deg);
}

.gallery__list{
  display: flex;
  align-items: center;
  flex-flow: row;
  position: relative;
  width: 100%;
  left: -40%;
  @media only screen and (max-width: 768px) {
    left: -85%;
  }
}

.gallery_title{
  text-align: center;
  margin: 70px 0;
  @media only screen and (max-width: 768px) {
    font-size: 20px;
    margin: 20px 0;
  }
}
.gallery__item{
  padding: 0px 50px;
  height: 511px;
  min-width: 60%;
  @media only screen and (max-width: 768px) {
    height: 350px;
    min-width: 90%;
    padding: 0px 10px;
  }
  @media only screen and (max-width: 500px) {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .gradient-wrapper{
    overflow: hidden;
  }

}


.gallery__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
