//----HEADER----\\

.header {
  background-image: url(../images/DSC04437.png);
  background-size: cover;
  padding-bottom: 286px;
}

.container {
  width: 1120px;
  margin: auto;
}

.header__nav {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 194px;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-number {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
}

.btn {
  width: 206px;
  height: 48px;
  background-color: #ffc15e;
  border-radius: 55px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 4px 20px rgba(207, 164, 97, 0.862);
}

.header__text {
  width: 758px;
  background: rgba(255, 193, 94, 0.9);
  position: relative;
  padding: 35px 44px;
}

.header__text-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__address {
  position: absolute;
  display: flex;
  align-items: center;
  width: 340px;
  background: #000;
  color: #fff;
  padding: 12px 32px;
  top: 138px;
  box-shadow: 0px 4px 24px rgba(27, 19, 15, 0.7);
}

.address-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
}
//-------COMMUNICATIONS-------\\

.communications {
  background: #e5e5e5;
}

.comm-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 140px 0 50px;
}

.comm-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.comm-list-item {
  width: 175px;
}

.item-img {
  margin: auto;
}

.item-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 137px;
}

.section-form {
  position: relative;
  overflow: hidden;
}

.section-form .rgba {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../images/bgg.jpg);
  background-size: cover;
  position: absolute;
}

//-----SECTION-DESCRIPTION-----\\

.description-section{
  position: relative;
  height: 750px;
  width: 100%;
  h2{
    text-align: center;
  }
  ul{
    margin-top: 70px;
    width: 70%;
    margin-bottom: 50px;
    li{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 25px;
      color: #1B130F;
      .pointer{
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background: #B86020;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
  .button-wrapper{
    width: 100%;
    margin-left: 20%;
  }
  img{
    //width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
//-----SECTION-BUILDING----\\

.building{
  &.golden{
    .building__block{
      background: #FFC15E;
      box-shadow: 0 4px 20px rgba(207, 164, 97, 0.862);
      color: #1b130f;
      top: -530px;
    }
  }
  &__block{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    background-color: #1B130F;
    box-shadow: 0 4px 24px rgba(27, 19, 15, 0.7);
    padding: 64px 62px;
    box-sizing: border-box;
    top: -100px;
    right: 0;
    max-width: 672px;
    z-index: 10;
    p{
      margin-bottom: 20px;
    }
  }
  .container{
    position: relative;
  }
}

//-----SECTION-TITLE----\\

.gradient-wrapper{
  background: linear-gradient(180deg, #E1E5FF 0.01%, rgba(238, 238, 238, 0.2) 100%);
}
.section-title{
  padding: 328px 0 222px 0;
  h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 180%;
    letter-spacing: 0.05em;
    width: 90%;
    position: relative;
    b{
      font-weight: 900;
      color: #B86020;
    }
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 70%;
      opacity: 0.8;
      background-color: #B86020;
      bottom: -40px;
      left: 0;
    }
  }
}

//-----SECTION-HOME----\\

.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 516px;
  &:before{
    content: '';
    background-image: url(../images/home.png);
    width: 744px;
    height: 841px;
    background-size: contain;
    position: absolute;
  }

  &__advantage {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 110px;

    p {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 59px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #1B130F;
      opacity: 0.8;
      text-shadow: none;
    }
  }

  &__title {
    text-shadow: 0 4px 20px rgba(207, 164, 97, 0.862);
    color: #B86020;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;

    span {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 130px;
      line-height: 152px;
      margin-right: 16px;
    }
  }

  .section-form .container {
    position: relative;
    z-index: 2;
  }
}
.communication-text {
  position: relative;
  width: 672px;
  height: 265px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 64px 62px;
  margin: 0 0 -180px auto;
}
//-----SECTION-VIDEO----\\
.video{
  position: relative;
  margin-bottom: 220px;
  .container{
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 70%;
      opacity: 0.8;
      background-color: #B86020;
      bottom: -40px;
    }
  }
  &:after{
    content: '';
    background-image: url("../images/logo 2.1.png");
    position: absolute;
    width: 206px;
    height: 138px;
    top: -50px;
    right: 87px;
  }
  &__title {
    background-color: #1B130F;
    box-shadow: 0px 4px 24px rgba(27, 19, 15, 0.7);
    padding: 30px 52px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: -50px;
  }
  video{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
  }
}


//-----SECTION-FORM----\\

.section-form {
  background: linear-gradient(rgba(32, 23, 89, 0.38), rgba(32, 23, 89, 0.38)),
  url(../images/DSC04436.png);
  background-size: cover;
  padding: 19px 0 143px;
  color: #fff;
  text-align: center;
}

.form-logo {
  margin-bottom: 156px;
}

.form-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  width: 662px;
  margin: 40px auto;
}

.form-input {
  width: 300px;
  border: none;
  padding: 15px 30px;
  border-radius: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-input:first-child {
  margin-right: 60px;
}

.form-btn {
  width: 164px;
  margin: 52px auto 0;
}

//------GOOGLE-NAV-------\\

.iframe {
  width: 100% !important;
  display: block;
}

//------FOOTER------\\

.footer {
  background: rgba(183, 183, 183, 0.2);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
}

.footer__address {
  display: flex;
}
